<div style="height: 50px;"></div>
<footer class="d-flex hide-before-loading justify-content-around"
	style="z-index: 10; height: 100px; color: var(--text-color); font-size: 21px;">
	<span class="p-2 align-self-center">Copyright&copy; 2020 of Laamu Media Institute</span>
	<span class="p-2 align-self-center">Crafted with love by: FlameXode</span>
</footer>